{% extends "base.html" %}

{% block navbar_gestionseances_selection %} class="active"{% endblock %}

{% block body %}
    <form action="{{ url_for('nouvelle_seance') }}" method="get" class="new_session_form">
        <button type="submit" class="btn btn-lg btn-default">Nouvelle séance</button>
    </form>
    <div style="clear: both"></div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ouverte ?</th>
                <th>Date</th>
                <th>Tuteurs-trices</th>
                <th>Élèves</th>
                <th>Responsable-s séance</th>
            </tr>
        </thead>
        <tbody>
            {% if sessions %}
                {% for session in sessions %}
                    <tr>
                        <td>{% if session.is_open %}oui{% else %}non{% endif %}
                        <td>{{ session.date|e }}</td>
                        <td>
                            {% if session.emailed_tutors %}
                                {{ session.nb_tutors }} <a href="{{ url_for('liste_tuteurs_seance', session=session.sid) }}">(liste)</a>
                            {% else %}
                                <a href="{{ url_for('envoi_mail_tuteurs', session=session.sid) }}">mail non envoyé</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if session.emailed_students %}
                                {{ session.nb_students }}
                            {% else %}
                                <a href="{{ url_for('envoi_mail_eleves', session=session.sid) }} ">mail non envoyé</a>
                            {% endif %}
                        </td>
                        <td>{{ session.managers|map(attribute='email')|join(', ')|e }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">Aucune séance</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
