{% extends "base.html" %}

{% block headers %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" media="screen" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block navbar_gestionseances_selection %} class="active"{% endblock %}

{% block body %}
<h1>Création d’une nouvelle séance</h1>

{% if invalid %}
    <div class="alert alert-danger" role="alert">
        Un ou plusieurs champ est/sont invalides.
    </div>
{% endif %}

<form action="{{ url_for('nouvelle_seance') }}" method="post" class="form-horizontal">
    <div class="form-group {% if 'date' in invalid %}has-error{% endif %}">
        <label for="date">Date</label>
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" name="date" id="date" value="{{ form['date'] }}" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({language: 'fr'});
            });

        </script>
    </div>

    <div class="form-group {% if 'students_comment' in invalid %}has-error{% endif %}">
        <label for="students_comment">Introduction du formulaire élèves</label>
        <textarea name="students_comment" id="students_comment" class="form-control" rows="5">{{ form['students_comment'] }}</textarea>
    </div>

    <div class="form-group {% if 'tutors_comment' in invalid %}has-error{% endif %}">
        <label for="tutors_comment">Introduction du formulaire tuteurs-trices</label>
        <textarea name="tutors_comment" id="tutors_comment" class="form-control" rows="5">{{ form['tutors_comment'] }}</textarea>
    </div>

    <div class="form-group" {% if 'subjects' in invalid %}has-error{% endif %}>
        <label for="subjects">Matières exceptionnelles / séances de méthodologie (une par ligne)</label>
        <textarea name="subjects" id="subjects" class="form-control" rows="5">{{ form['subjects'] }}</textarea>
    </div>

    <div class="form-group">
        <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
        <button class="btn btn-lg btn-primary btn-block" type="submit" class="form-control">Créer la séance</button>
    </div>
</form>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/locales.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>
{% endblock %}
