{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block headers %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}" />
{% endblock %}


{% block navbar_admin_selection %} class="active"{% endblock %}

{% block body %}
{% if wrong_login %}
    <div class="alert alert-danger" role="alert">
        Mauvais mot de mot de passe ou adresse mail.
    </div>
{% endif %}
{% if just_redirected %}
    <div class="alert alert-warning" role="alert">
        Vous devez vous connecter pour accéder à cette section.
    </div>
{% endif %}
<form class="form-signin" role="form" method="post">
    <h2 class="form-signin-heading">Veuillez vous connecter</h2>
    <label for="email" class="sr-only">Adresse mail</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="prénom.nom@ens-lyon.fr" required autofocus>
    <label for="password" class="sr-only">Mot de passe</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>

    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
    <input name="redirect_url" type="hidden" value="{{ redirect_url }}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
  </form>
{% endblock %}
