{% extends "base.html" %}

{% block navbar_inscription_selection %} class="active"{% endblock %}


{% block body %}
Pour vous inscrire à la liste de diffusion d’ENSeigner en tant qu’élève,
veuillez utiliser le formulaire d’inscription disponible sur l’ancien site.
Pour y accéder, <a href="http://enseigner.ens-lyon.fr/">cliquez ici</a>, puis
sur le bouton «&nbsp;S’inscrire au soutien&nbsp;».

Pour vous y inscrire en tant que tuteur-trice, veuillez nous envoyer un
mail à notre adresse mail enseignersoutien arobase gmail.com

Pour vous inscrire à la prochaine séance, vous devez être abonné-e à
la liste de diffusion (vous recevez un formulaire individuel par mail).
{% endblock %}
